*.pth filter=lfs diff=lfs merge=lfs -text
backend/models/CT_Scan_models/lung_cancer_cnn_model.pkl filter=lfs diff=lfs merge=lfs -text
backend/models/CT_Scan_models/densenet121_lung_model.pkl filter=lfs diff=lfs merge=lfs -text
